@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --mtc-yellow: #FDE480;
  --mtc-black: #464646;
  --mtc-background: #ECECEC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --mtc-yellow: #FDE480;
    --mtc-black: #464646;
  }
}

body {
  background-color: var(--mtc-background);
  color: var(--mtc-black);
}

.no-scroll {
  overflow: hidden;
}

.first-content {
  height: calc(100vh - 136px);
  margin-top: 96px;
}

#navigation {
  transition: top 0.3s;
}

@layer components {
  .header {
    @apply text-2xl font-bold text-center mb-8;
  }
}